html {
  text-align: center;
}

h1{
  margin-bottom: .5rem;
}
.logoutBtn{
  margin: .5rem 0;
}

.postContainer{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 2%;
  margin-top: 2%;
}

.post{
  border-radius: 6px;
  border: 1px solid gray;
  width: 500px;
}

